.bg-dash{
    background: #f0f0f0;
}

.dashboard-spa { display: flex; min-height:90vh; }

/* Sidebar */
.sidebar {
    width: 225px; background: #f0f0f0; border-radius: 18px; margin: 22px 0 22px 2vw;
    box-shadow:0 2px 14px #bfb5ff1e; display: flex; flex-direction: column; padding: 24px 0;
}
.sidebar-header { display:flex;align-items:center;gap:11px;font-weight:700; font-size:21px;padding-left:26px; }
.sidebar-menu ul {list-style:none;margin:27px 0 0 0;padding:0;}
.sidebar-menu ul li {padding:12px 26px;font-size:15px;color:#777;cursor:pointer;display:flex;align-items:center;border-left:4px solid transparent;transition:.18s;}
.sidebar-menu ul li.active, .sidebar-menu ul li:hover {color:#6563fe;background:#f0f0f0;border-left:4px solid #6563fe;}
.menu-icon { margin-right:10px;font-size:18px;}
.sidebar-bottom { margin-top:auto; padding:24px 0 0 26px;font-size:13px;color:#aaa;}

/* Topbar */
.main-content{ flex:1;padding:22px 2vw 22px 0; display:flex; flex-direction:column;}
.main-topbar{display:flex;justify-content:space-between;align-items:center;padding-bottom:17px;}
.main-topbar .left{font-size:22px;font-weight:600;color:#5951f8;}
.profile-area{
    display:flex; align-items:center;gap:11px;position:relative;cursor:pointer;
    background:#f0f0f0; border-radius:20px; padding:7px 16px;
}
.profile-thumb img{width:32px;height:32px;border-radius:50%;object-fit:cover;}
.profile-caret { font-size:12px;padding-left:3px;}
.profile-name{font-size:16px;}
.profile-drop{position:absolute;right:0;top:120%;background:#f0f0f0;border-radius:9px;box-shadow:0 1px 10px #bbb2;padding:12px 0;display:none;min-width:170px;z-index:2;}
.profile-drop.show{display:block;}
.profile-drop a{display:block;color:#6f6bef;padding:8px 17px;text-decoration:none;font-weight:500;font-size:15px;}
.profile-drop a:hover{background:#f4f4fd;}
.main-module{min-height:460px;margin-top:8px;}


/*Navbar*/
.nav-link{
    color: #383838 !important;
}

.nav-link:hover{
    color: rgba(112, 74, 253, 1) !important;
}

.active,
.active:hover{
    color:#fff !important;
}

#label-page{
     background: linear-gradient(93deg,rgba(112, 74, 253, 1) 0%, rgba(51, 171, 255, 1) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}


/* Responsivo */
@media(max-width:900px){
    .dashboard-spa{flex-direction:column;}
    .sidebar{width:98vw;margin-bottom:9px;}
    .main-content{padding-left:0;}
}

.financeiro-main {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
}

@media (min-width: 991px) {
    .financeiro-main {
        margin-left: auto;
        margin-right: auto;
        max-width: 1050px;
        width: 98%;
    }
}
