    body {
      background: url('http://flowdesk.site/assets/img/bg_login_page.webp') no-repeat center/auto;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: url('https://cdn.snappages.com.br/imagens/component-assets/Cursor-degrade-roxo-seta.svg') 0 0, auto;

    }

      .login-container {
            padding-top: 50px;
        }

        .form-section {
            background: #232427;
        }

        .hero-section {
            background: url(/assets/img/bg_login.png) center;
            background-size: cover;
        }

        .form-control {
            background-color: #202124;
            border: 1px solid #232427;
            color: var(--bs-light);
        }

        .form-control::placeholder {
            color: #9ca3af;
        }

        .form-control:focus {
            background-color: #202124;
            color: var(--bs-light);
            border-color: #3a3b3f;
            box-shadow: 0 0 0 .2rem rgba(104, 115, 125, .4);
        }

        .input-group-text {
            background-color: #202124;
            border: 1px solid #232427;
            color: var(--bs-light);
        }

        .bg-form {
            background: #232427;
        }

        .super-tabs {
            width: 370px;
            /* ajuste conforme necessário para seu layout exato */
            display: flex;
            gap: 0;
            /* não deixa espaço extra entre os botões */
            background: #202124;
            border-radius: 2rem;
            border: 1.5px solid #45474E;
            padding: 3px;
        }

        .super-tab {
            flex: 1;
            height: 30px;
            font-size: 1rem;
            font-weight: 500;
            border: none;
            border-radius: 2rem;
            background: transparent;
            color: #2790F5;
            transition: background .2s, color .2s;
            margin: 0;
            outline: none;
            box-shadow: none;
        }

        .super-tab.active {
            background: #2790F5;
            color: #fff;
        }

        .super-tab:not(.active) {
            background: #202124;
            color: #2790F5;
        }

        .super-tab:focus {
            outline: none;
        }


        .btn-social {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .75rem;
            font-weight: 500;
            margin-bottom: .75rem;
            border-radius: 24px;
            padding: .75rem 1rem;
        }


        .tab-btn-group .btn {
            border-radius: 24px;
            width: 50%;
        }

    @media (max-width: 800px) {
      .login-container {
        flex-direction: column;
      }

      .art-side {
        min-height: 220px;
      }
    }